.bg-gradient {
  background: rgb(5, 54, 48);
  background: radial-gradient(circle, rgba(5, 54, 48, 1) 43%, rgba(4, 30, 27, 1) 100%);
}

.terminalBg {
  background: linear-gradient(248.59deg, rgba(217, 217, 217, 0.21) 1.18%, rgba(217, 217, 217, 0.0315) 110.98%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(70px);
  border-radius: 15px;
}

.btnBg {
  background: linear-gradient(248.59deg, rgba(217, 217, 217, 0.21) 1.18%, rgba(217, 217, 217, 0.0315) 110.98%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(70px);
  border-radius: 16px;
}

.mblScrn{
  background: rgb(5, 54, 48);
  background: radial-gradient(circle, rgba(5, 54, 48, 1) 43%, rgba(4, 30, 27, 1) 100%);
}